body{
    background-color: #fdfe;
}
main{
    max-width: 1200px; /* Adjust as needed */ 
    margin: 0 auto;
}
h1{
    font-family: sans-serif;
    background-color: lightcyan;
    margin: 0;
    justify-content: center;
    text-align: center;
}
h2{
    text-align:center;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

figure>img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
figure>figcaption{
    font-style: italic;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-list span{
    font-weight: 700;
}
.image-list{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div>ul>li>span{
    font-weight: 100;
}

nav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
}
nav>a{
    color: darkcyan;
}
footer>div>ul{
    display:flex;
    justify-content: center;
}
footer>div>ul>li{
    display:inline-block;
    padding:0.2rem;
    
}
footer>p>a{
    color: darkcyan;
}
p>a{
    text-decoration: none;
}
/* Rule Overrides For Laptops / Small Screens */
@media screen and (min-width:981px) and (max-width: 1400px){
    #colorbox{
        background-color: lightgray;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and (min-width:370px) and (max-width: 600px){
    #colorbox{
        background-color: lightgray;
    }
}