<footer>
    <div>
        <ul>
        <li><a href="https://github.com/gLombar4/glombar4.github.io">Github Repo</a></li>
        <li><a href="https://glombar4.github.io/">Github.io Home Page</a></li>
        <li><a href="https://glombar4.github.io/itis3135/">Github.io Course Page</a></li>
        <li><a href="https://www.freecodecamp.org/DecafCoffee">Freecodecamp Profile</a></li>
        <li><a href="https://www.codecademy.com/profiles/DecafCoffee">Codecademy Profile</a></li>
        <li><a href="https://www.linkedin.com/in/garrett-lombard-a55394291/">LinkedIn Profile</a></li>
        </ul>
    </div>
    <p><a href="./lombarddesigns.cc/index.html">Lombard Designs &copy;2025</a></p>
    </footer>