<style>
    footer{
    margin:auto;
    justify-content: center;
    text-align: center;
    }
</style>
<footer>
    <nav>
        <a href="itis3135/stuff/THE STUFF ^PAGE!.htm">Crappy Site</a>
        ||
        <a href="itis3135/hobby/index.html">Hobby Page</a>
        ||
        <a href="itis3135/website_evaluations.html">Website Evals</a>
        ||
        <a href="itis3135/tables.html">Tables</a>
        ||
        <a href="itis3135/client_project/index.html">Client Project</a>
        <p><a href="./lombarddesigns.cc/index.html">Lombard Designs &copy;2025</a>, Certified in <a href="https://www.freecodecamp.org/certification/DecafCoffee/responsive-web-design">Responsive Web Design</a></p>
    </nav>
</footer>