<footer>
    <nav>
        <a href="https://github.com/gLombar4/glombar4.github.io">Github Repo</a>
        ||
        <a href="https://glombar4.github.io/">Github.io Home Page</a></li>
        ||
        <a href="https://glombar4.github.io/itis3135/">Github.io Course Page</a>
        ||
        <a href="https://www.freecodecamp.org/DecafCoffee">Freecodecamp Profile</a>
        ||
        <a href="https://www.codecademy.com/profiles/DecafCoffee">Codecademy Profile</a>
        ||
        <a href="https://www.linkedin.com/in/garrett-lombard-a55394291/">LinkedIn Profile</a>
        ||

    </nav>
        
    <p><a href="./lombarddesigns.cc/index.html">Lombard Designs &copy;2025</a>, Certified in <a href="https://www.freecodecamp.org/certification/DecafCoffee/responsive-web-design">Responsive Web Design</a></p>
    </footer>