<style>
    header{
				margin:auto;
				justify-content: center;
				text-align: center;
			}
            
</style>
<header>
    <h1>Garrett Lombard || ITIS3135</h1>
    <nav>
    <a href="/itis3135/index.html">CLT Webpage</a>
    ||
    <a href="https://www.linkedin.com/in/garrett-lombard-a55394291/">Linkedin</a>
    ||
    <a href="https://github.com/gLombar4">GitHub</a>
    ||
    <a href="https://glombar4.github.io/">Github Pages</a>
    ||
    <a href="itis3135/lombarddesigns.cc/index.html">Design Firm</a>
    ||
    <a href="itis3135/geriatriclocust.com/about.html">Whimsical Company</a>
    ||
    <a href="/itis3135/byo_intro.html">BYO Intro</a>
    </nav>
</header>